div{
    max-width: 100%;
    margin:0 auto;
    text-align:center;
    -webkit-animation: animeBottom 1.1s cubic-bezier(0.23, 1, 0.32, 1) 1 forwards;
    animation: animeBottom 1.1s cubic-bezier(0.23, 1, 0.32, 1) 1 forwards;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    width: 100%
}

.top1{
    margin-top: 100px;
    margin-bottom: 100px;
}

.top2{
    margin-top: 100px;
    margin-bottom: 100px;
}


@keyframes taitol-img {
    100% {
        transform: translateX(100%);
    }
}

.taitol-img{
    animation-direction: normal;
    overflow: hidden;
    position: relative;
    width: 800px;
}
.taitol-img:before {
    animation: taitol-img 2s cubic-bezier(.4, 0, .2, 1) forwards;
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    background:black;
    z-index: 1;
}

.fade{
    opacity : 0;
    transform: translateY(20px);
    transition: all 1.5s;
    height: 100%;
    width: 100%;
    display:
}

.nakami1{
    margin-top: 100px;
    margin-bottom: -100px;
    margin-left : auto;
    margin-right: auto; 
}

.nakami2{
    margin-top: -900px;
    margin-bottom: -100px;
    margin-left : auto;
    margin-right: auto;
}

.nakami3{
    margin-top: -1300px;
    margin-bottom: -100px;
    margin-left : auto;
    margin-right: auto;
}

.nakami4{
    margin-top: -850px;
    margin-bottom: -100px;
    margin-left : auto;
    margin-right: auto;
}

.nakami5{
    margin-top: -1000px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

.nakami6{
    margin-top: -400px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

.middle1{
    background: url(blue-galaxy-31677-400x270-MM-100.jpg)
}

.nakami7{
    margin-top: -900px;
    margin-bottom: -100px;
    margin-left : auto;
    margin-right: auto;
}

.nakami8{
    margin-top: -1400px;
    margin-bottom: -100px;
    margin-left : auto;
    margin-right: auto;
}

.nakami9{
    margin-top: -1400px;
    margin-bottom: -100px;
    margin-left : auto;
    margin-right: auto;
}

.nakami10{
    margin-top: -1400px;
    margin-bottom: -100px;
    margin-left : auto;
    margin-right: auto;
}

/* 新筐体 */

.middle2{
    background: url(2032352882-kabekin2455-pY2-1920x1080-MM-100.jpg)
}
.nakami11{
    margin-top: 500px;
    margin-bottom: -100px;
    margin-left : auto;
    margin-right: auto;
}


.nakami12{
    margin-top: -900px;
    margin-bottom: -100px;
    margin-left : auto;
    margin-right: auto;
}

.nakami13{
    margin-top: -700px;
    margin-bottom: -100px;
    margin-left : auto;
    margin-right: auto;
}

.nakami14{
    margin-top: -200px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

.nakami15{
    margin-top: -800px;
    margin-bottom: -100px;
    margin-left : auto;
    margin-right: auto;
}

.nakami15-1{
    margin-top: -1600px;
    margin-bottom: -100px;
    margin-left : auto;
    margin-right: auto;
}

.nakami15-2{
    margin-top: -500px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

.middle3{
    background: url(2978404689-space-r0oW-1920x1080-MM-100.jpg)
    
}

.nakami16{
    margin-top: 500px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

.nakami17{
    margin-top: -600px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

.nakami18{
    margin-top: -120px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

.middle4{
    background: url(227821635-400x270-MM-100.jpg)
}

/* 百式 */
.nakami19{
    margin-top: -800px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

/* 試作1号機 */
.nakami20{
    margin-top: -800px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

/* キュベレイ */
.nakami21{
    margin-top: -1000px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

/* Z */
.nakami22{
    margin-top: -1200px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

/* ブルーⅮ */
.nakami23{
    margin-top: -900px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

/* モンテーロ */
.nakami24{
    margin-top: -1100px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

/* フルグランサ */
.nakami25{
    margin-top: -700px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

/*　ザクアメイジング　*/
.nakami26{
    margin-top: -1000px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

/* マックスター */
.nakami27{
    margin-top: -700px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

/* レクス */
.nakami28{
    margin-top: -800px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
    p
}

/* トライバーニング */
.nakami29{
    margin-top: -1000px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

.nakami30{
    margin-top: -700px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

.nakami31{
    margin-top: -150px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

.nakami32{
    margin-top: -1600px;
    margin-bottom: 0px;
    margin-left : auto;
    margin-right: auto;
}

.nakami33{
    margin-top: -1150px;
    margin-bottom: 500px;
    margin-left : auto;
    margin-right: auto;
}

.sakuhin{
    background: url(913282850-kabekin9-lOWV-1920x1080-MM-100.jpg)
}

.sakuhin1{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    background-color: 
}

.flex1{
    width: 60%;
    display: flex;
    margin: auto;
}

.sakuhin2{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
}

.sakuhin3{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin4{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin5{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin6{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.flex2{
    width: 60%;
    display: flex;
    margin: auto; 
}

.sakuhin7{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin8{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin9{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
}

.sakuhin10{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin11{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.flex3{
    width: 60%;
    display: flex;
    margin: auto;
}

.sakuhin12{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin13{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin14{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin15{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin16{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.flex4{
    width: 60%;
    display: flex;
    margin: auto;
}

.sakuhin17{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin18{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin19{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin20{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin21{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.flex5{
    width: 60%;
    display: flex;
    margin: auto;
}

.sakuhin22{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin23{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin24{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin25{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin26{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.flex6{
    width: 60%;
    display: flex;
    margin: auto;
}

.sakuhin27{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin28{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin29{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin30{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin31{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.flex7{
    width: 60%;
    display: flex;
    margin: auto;
}

.sakuhin32{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin33{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin34{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
    
}

.sakuhin35{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
}

.sakuhin36{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
}

.flex8{
    width: 60%;
    display: flex;
    margin: auto;
}

.sakuhin37{
    margin-top: auto;
    margin-bottom: auto;
    margin-left : auto;
    margin-right: auto;
}

footer {
    font-size: 50px;
    color:whitesmoke;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}
